@import "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  overflow: hidden;
  @media screen and (max-width: 680px) {
    overflow-y: visible;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  position: relative;
}
#body-con {
  display: grid;
  @media screen and (max-width: 680px) {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  grid-template-columns: 65% 40%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "con-1  text-con"
    "furniture light-img";
  width: 100%;

  .con-1 {
    grid-area: con-1;
    position: relative;
    #open-nav {
      display: none;
      position: absolute;
      @include cursor();
      top: 25px;
      left: 8%;
      @media screen and (max-width: 680px) {
        display: block;
      }
    }
    .hero-img-con {
      width: 100%;
      height: 445px;
      img {
        width: 90%;
        @media screen and (max-width: 680px) {
          width: 100%;
        }
        height: 445px;
      }
    }
    .nav-con {
      width: 330px;
      @media screen and (max-width: 680px) {
        width: 295px;
        left: 40%;
      }
      position: absolute;
      @include flex();
      color: $White;
      top: 49px;
      left: 46px;

      .nav-menu {
        width: 200px;
        @include flex();
        list-style: none;
        @media screen and (max-width: 680px) {
          display: none;
        }
     
      }
      #close-nav{
            display: none;

        }
    }
    .close-nav-con{
      position: absolute;
      left:0%;
      top:0px;
      align-items: center;
      color: $Very-Dark-Gray;
      background-color: $White;
      height:90px;
      width: 100%;
      padding-left: 9%;
      padding-right: 6%;
      font-size: 16px;

      #logo{
        display: none;
      }
      #close-nav{
        display: block;
        height:20px;
        margin-right:5%;
      }
      #open-navs{
        display: none;
      }
      .nav-menu{
        width:80%;  
        @media screen and (max-width:680px) {
          display: flex;
        }
      }
    }
  

    li:hover {
      border-bottom: 2px white solid;
      @include cursor();
    }
  }

  .text-con {
    grid-area: text-con;
    padding: 80px 32% 0px 2%;
    @media screen and (max-width: 805px) {
      padding: 80px 32% 0 0%;
    }
    @media screen and (max-width: 680px) {
      padding: 80px 8% 50px 9%;
    }
   
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
      font-weight: 700;

      @media screen and (max-width: 1155px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 955px) {
        font-size: 2em;
      }
      @media screen and (max-width: 765px) {
        font-size: 1.8em;
      }
      @media screen and (max-width: 680px) {
        font-size: 3.5em;
      }
      @media screen and (max-width: 558px) {
        font-size: 3.5em;
      }
      @media screen and (max-width: 390px) {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.2em;
      @media screen and (max-width: 955px) {
        font-size: 1em;
      }
      @media screen and (max-width: 765px) {
        font-size: 1em;
      }
      @media screen and (max-width: 680px) {
        font-size: 2em;
      }
      @media screen and (max-width: 390px) {
        font-size: 1.2em;
      }
    }
    button {
      height: 30px;
      text-transform: uppercase;
      font-size: 1em;
      background-color: inherit;
      word-spacing: 0px;
      letter-spacing: 6px;
      margin-top: 14px;
      text-align: left;
      font-weight: 600;
      border: 0;
      width: 100%;
      @media screen and (max-width: 805px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 680px) {
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 15px;
        height: 40px;
      }
      @media screen and (max-width: 390px) {
        font-size: 1.1em;
      }

      &:hover {
        @include cursor();
      }
      span {
        position: relative;
        margin-left: 6%;
        @media screen and (max-width: 805px) {
          margin-left: 3%;
          img {
            width: 80%;
          }
        }
        @media screen and (max-width: 680px) {
          margin-left: 3%;
          img {
            width: 120%;
          }
        }
        @media screen and (max-width: 390px) {
          margin-left: 0%;
          img {
            width: 80%;
          }
        }
        top: 2px;
        display: inline-block;
      }
     
    }
     #change-bg-img {

        @include flex();
        position: absolute;
        width: 9.4%;
        height: 60px;
        background-color: black;
        padding: 16px 2%;
        left: 58.5%;
        top: 51.4%;
        @media screen and (max-width: 680px) {
          top: 385px;
          left: 82%;
          padding: 16px 2%;
          width: 18%;
        }
        img {
          height: 30px;
          &:hover {
            @include cursor();
          }
        }
      }
  

    
    

  }
  #furniture {
      display: flex;
      grid-area: furniture;
      #dark-img-con {
        width: 50%;      
        img {
          height: 300px;
          width: 90%;
        }
      }
      &-text {
        width: 50%;
        padding: 70px 6.5% 0px 0%;
        @media screen and (max-width: 786px) {
          padding: 70px 3% 0px 0px;
        }

        h1 {
          font-size: 1.3em;
          @media screen and (max-width: 965px) {
            font-size: 1.2em;
          }
          @media screen and (max-width: 891px) {
            font-size: 1em;
          }
          @media screen and (max-width: 730px) {
            font-size: 0.9em;
          }
          text-transform: uppercase;
          letter-spacing: 4px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        p {
          font-size: 0.9em;
          @media screen and (max-width: 786px) {
            font-size: 0.8em;
          }
        }
         

      }
       @media screen and (max-width:680px) {
       display: block; 
       #dark-img-con {
        width: 100%;      
        img {
          height: 300px;
          width: 100%;
        }
      }
      &-text {
        width: 100%;
        padding: 70px 15.5% 30px 10%;
        h1{
          font-size:2.5em
        }
        p{
          font-size: 2em;
        }
        
      }
      
    }
    
}

      #about-light {
        grid-area: light-img;
        width: 90%;
        margin-left: 7%;
    
        img {
          width: 90%;
          height: 300px;
        }
        @media screen and (max-width: 680px) {
          width: 100%;
          margin-left: 0px;
          img {
            width: 100%;
          }
        }
      }
    }